<!DOCTYPE html>
<html>
<head>
	<title>IntelloMedix платформа для распознавания снимков УЗИ молочных желез</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(66315595, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/66315595" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/index2"><img src="{{url_for('static',filename='images/logo3.png')}}" alt="IntelloMedix"></a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/index2">О компании</a>
        <a class="p-2 text-dark" href="/tarifs2">Тарифы</a>
        <a class="p-2 text-dark" href="/support2">Техподдержка</a>
        <a class="p-2 text-dark" href="/contact2">Контакты</a>
        <a class="p-2 text-dark" href="/profile">Профиль</a>
        <a class="p-2 text-dark" href="/story">Журнал</a>
        <a class="btn btn-outline-secondary" href="/start">Распознать изображение</a>
    </nav>
        <a class="btn btn-outline-primary" href="/logout">Выйти из профиля</a>
    </div>
	<div class="body">
        <div class="position-relative p-3 p-md-5 m-md-3 text-center" style="background-image:
                url({{url_for('static',filename='images/slider4.png')}});
                background-size: cover">
            <div align=left>
                    <p></p>
                    <h2 class="font-weight-normal" style="color: #117a8b">Трансформация заботы о пациентах
                        <br>с применением системы
                        <br>искусственного интеллекта (AI)</h2>
                    <p>
                    <br>
                    <p class="lead font-weight-light">Платформа для быстрого и точного
                    <br>анализа медицинских изображений и
                    <br>поддержки принятия решений
                    <br>врачами-диагностами</p>
                    <br>
                    <a class="btn btn-primary" href="/demo">Запросить тестовый доступ</a>
                    <br>
                    <br>
                    <br>
                    <p>
            </div>
        </div>
        <div >
            <hr class="featurette-divider">
            <div class="row featurette p-3 p-md-4 m-md-3">
                <div class="col-md-7">
                <p class="lead font-weight-light">Миссия <b>IntelloMedix</b> состоит в том, чтобы предоставить специалистам
                ультразвуковой диагностики инструменты, необходимые для лучшего и безопасного ухода за пациентами.
                Наличие современного оборудования и развитие систем архивации и передачи медицинских изображений,
                позволяет проводить большой объем исследований пациентов с целью профилактики и диагностики различных
                заболеваний.
                <details><summary>Читать подробнее</summary>
                </p>
                <p class="lead font-weight-light">Вместе с тем, высокая загруженность специалистов ультразвуковой диагностики и медленные
                темпы подготовки квалифицированных кадров не позволяют в полном объеме использовать эти ресурсы.
                Внедрение новых технологий, основанных на системах искусственного интеллекта, могут позволить
                значительно расширить возможности специалистов ультразвуковой диагностики.
                </p>
                <p class="lead font-weight-light"><b>IntelloMedix</b> делает максимально доступным свое революционное AI предложение,
                которое помогает медицинским центрам и бюджетным учреждениям здравоохранения справляться с растущей рабочей
                нагрузкой без потери качества.
                </p>
                </details>
                </div>
              <div class="col-md-5">
                <img width="500" src="{{url_for('static',filename='images/mammo2.jpg')}}">
              </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette p-3 p-md-4 m-md-3">
              <div class="col-md-7 order-md-2">
                  <h4 class="featurette-heading">Расширение возможностей ультразвуковых исследований</h4>
                  <p class="lead font-weight-light">Мы работаем с тысячами изображений и связанными с ними клиническими записями, чтобы создать высокопроизводительные алгоритмы, которые автоматически обнаруживают наличие патологий на медицинских снимках.
                  <p class="lead font-weight-light">Метрики диагностической ценности на уровне мировых стандартов:
                  <br>- чувствительность: <b>92%</b>,
                  <br>- точность: <b>88%</b>,
                  <br>- специфичность: <b>84,7%</b></p>
                  <br>
                  <a class="btn btn-primary" href="/demo">Узнать больше</a>
              </div>
              <div class="col-md-5 order-md-1">
                <img height="330" src="{{url_for('static',filename='images/uzi.jpg')}}">
              </div>
            </div>

        </div>
	</div>
    <div>
		<p style="margin-top:90px;
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: darkmagenta
	">
			@Copyright 2020 IntelloMediX, LLC
		</p>
	</div>
</body>
</html>